{% extends 'base.html.twig' %}
{% block body %}
    <a href="{{ path("ajouterRestaurant") }}">Ajouter restaurant</a>
    <table class="table">

        <th>Nom</th>
        <th>Adresse</th>
        <th>Ville</th>
        <th>Responsable</th>
        <th>Action</th>


    {% for item in listRestaurant %}
        <tr>
        <td>{{ item.Nom }}</td>
        <td>{{ item.Adresse }}</td>
        <td>{{ item.Ville.Nom }}</td>
        <td>{{ item.Responsable }}</td>
        <td><a href="btn btn-info"><span class="btn btn-sm btn-primary glyphicon glyphicon-pencil"></span></a> | <a href="#" class="btn btn-sm btn-danger glyphicon glyphicon-trash"></a></td>
        </tr>
            {% endfor %}

    </table>
{% endblock %}