<!DOCTYPE html>
<html class="js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms no-csstransforms3d csstransitions fontface no-generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <!-- Ionicons Fonts Css -->
        <link rel="stylesheet" href="{{ asset('css/ionicons.min.css') }}">
        <!-- animate css -->
        <link rel="stylesheet" href="{{ asset('css/animate.css')}}">
        <!-- Hero area slider css-->
        <link rel="stylesheet" href="{{ asset('css/slider.css')}}">
        <!-- owl craousel css -->
        <link rel="stylesheet" href="{{ asset('css/owl.carousel.css')}}">
        <link rel="stylesheet" href="{{ asset('css/owl.theme.css')}}">
        <link rel="stylesheet" href="{{ asset('css/jquery.fancybox.css')}}">
        <!-- template main css file -->
        <link rel="stylesheet" href="{{ asset('css/main.css')}}">
        <!-- responsive css -->
        <link rel="stylesheet" href="{{ asset('css/responsive.css')}}">
        <script src={{ asset('js/vendor/modernizr-2.6.2.min.js')}}></script>
        <!-- jquery -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <!-- owl carouserl js -->
        <script src="{{ asset('js/owl.carousel.min.js')}}"></script>
        <!-- bootstrap js -->

        <script src="{{asset('js/bootstrap.min.js')}}"></script>
        <!-- wow js -->
        <script src="{{asset('js/wow.min.js')}}"></script>
        <!-- slider js -->
        <script src="{{ asset('js/slider.js')}}"></script>
        <script src="{{ asset('js/jquery.fancybox.js') }}"></script>
        <!-- template main js -->
        <script src="{{ asset('js/main.js') }}"></script>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <header id="top-bar" class="navbar-fixed-top animated-header">
        <div class="container">
            <div class="navbar-header">
                <!-- responsive nav button -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- /responsive nav button -->

                <!-- logo -->
                <div class="navbar-brand">
                    <a href="{{ path('homepage') }}" style="color: inherit;">
                        <img src="{{ asset('images/logo8.png') }}">
                    </a>
                </div>
                <!-- /logo -->
            </div>
            <!-- main menu -->
            <nav class="collapse navbar-collapse navbar-right" role="navigation">
                <div class="main-menu">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="{{ path("homepage") }}">Acceuil</a>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services <span class="caret"></span></a>
                            <div class="dropdown-menu">
                                <ul>
                                    <li><a href="{{ path("listActivite") }}">Activités inédites</a></li>
                                    <li><a href="{{ path("listRestaurant") }}">Restaurants</a></li>
                                </ul>
                            </div>
                        </li>

                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mon compte <span class="caret"></span></a>
                                <div class="dropdown-menu">
                                    <ul>
                                        <li>Connecté en tant que {{ app.user.username }}</li>
                                        <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                                    </ul>
                                </div>

                            </li>


                        {% else %}
                            <li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
                            <li><a href="{{ path('fos_user_registration_register') }}">Inscription</a></li>
                        {% endif %}



                        <li><a href="{{ path("contact") }}">Contact</a></li>
                    </ul>
                </div>
            </nav>
            <!-- /main nav -->
        </div>
    </header>

    {% block body %}{% endblock %}

    <footer id="footer">
        <div class="container">
            <div class="col-md-8">
                <p class="copyright">Tous droits réservés-K&amp;E Groupe <span>2017</span> . Made with <span class="fa fa-heart" aria-hidden="true"></span> by <a href="http://www.wis-ecoles.com/Campus/Nantes" target="_blank">Agence 2.7.0 (WIS-EPSI) Nantes</a></p>
            </div>
            <div class="col-md-4">
                <!-- Social Media -->
                <ul class="social">
                    <li>
                        <a href="http://wwww.fb.com/themefisher" class="Facebook">
                            <i class="ion-social-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://wwww.twitter.com/themefisher" class="Twitter">
                            <i class="ion-social-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="Linkedin">
                            <i class="ion-social-linkedin"></i>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </footer>
    </body>



</html>
