{% extends 'base.html.twig' %}
{% block body %}
    <h1>Ville</h1>
    <a href="{{ path("ajouterVille") }}">Ajouter une ville</a>
    <table class="table">
        <thead>
        <td>Nom</td>
        <td>Departement</td>
        <td>CodePostal</td>
        <td>Action</td>
        </thead>
        <tbody>

        {% for item in listVille %}
            <tr>
            <td>{{ item.Nom }}</td>
            <td>{{ item.Departement }}</td>
            <td>{{ item.CodePostal }}</td>
            <td><a href="{{ path("editVille",{"id":item.id}) }}"><span class="btn btn-sm btn-primary glyphicon glyphicon-pencil"></span></a> | <a href="{{ path("delVille",{"id":item.id}) }}" class="btn btn-sm btn-danger glyphicon glyphicon-trash"></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}